.logo-login {
    width: 100px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Maintient les proportions de l'image */
}
.offre {
    position: relative;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0;
    border-radius: 5px;
    background: #fff;
}
.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: red;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}
.wishlist-icon:hover {
    transform: scale(1.2);
    color: darkred;
}
body {
    line-height: 1;
    width: 100vw;
    font-family: Inter, sans-serif;
    margin: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* Classes Flex */
.flex-colonne {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.centre-alignement {
    align-content: center;
}

/* Styles de connexion et de création de compte */
.conteneur-auth {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth {
    margin: auto;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
}

.auth > * {
    flex: 1;
    flex-basis: 18rem;
    max-width: 26rem;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}

.texte-offre h1 {
    font-weight: bold;
    font-size: clamp(2rem, 5vw, 3.45rem);
    padding-bottom: 15px;
}

.texte-offre h2 {
    font-size: clamp(1rem, 2.8vw, 1.5rem);
    color: #4F4F4F;
    padding-bottom: 15px;
}

.entree-auth form {
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
    max-width: 20rem;
}

.entree-auth input[type="text"], .entree-auth input[type="password"], .entree-auth button {
    min-height: 1rem;
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    min-height: 3rem;
    border-radius: 9px;
    border-style: solid;
    padding: 0 5% 0 5%;
}

.entree-auth input[type=text], .entree-auth input[type=password] {
    font-size: clamp(0.8rem, 5vw, 1rem);
    color: #777777;
    border-width: 2px;
}

.entree-auth button {
    margin-top: 0.9rem;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.56rem;
}

nav{
    display:flex;
    justify-content:space-between;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


nav a {
    color: #17255A;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background 0.3s, color 0.3s;
}

nav a:hover {
    background: #17255A;
    color: #f4f4f4;
}

#reconnect a {
    color:black;
    background-color: #D3D3D3;
}

#reconnect a:hover{
    background: black;
    color: white;
}

#wishlist-button a {
    color:white;
    background-color: #18206F;
}

#wishlist-button a:hover{
    background: black;
    color: white;
}

.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-section{
    background-color: #777777;
    background-image: url(backgroundOffre.png);
    background-size: cover;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.sub-section{
    width: 80%;
    background-color: white;
    font-size: 1.3rem;
}

#login-form{
    margin-bottom: 2em;
}
#input-recherche{
    width: 15em;
    height: 3em;
    border-radius:5px;
    padding-left: 1em;
    font-size: 1rem;
}

#ville-select{
    width: 12em;
    height: 3em;
    border-radius:5px;
    padding-left: 1em;
    font-size: 1rem;
}

#titre-offre{
    color: white;
    margin-left: 5rem;
}
.offre{
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    padding-left: 1em;
    font-size: 1rem;
}
