
.main-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-section{
    background-color: #777777;
    background-image: url(/web/public/assets/img/backgroundOffre.png);
    background-size: cover;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.sub-section{
    width: 80%;
    background-color: white;
    font-size: 1.3rem;
}

#login-form{
    margin-bottom: 2em;
}
#input-recherche{
    width: 15em;
    height: 3em;
    border-radius:5px;
    padding-left: 1em;
    font-size: 1rem;
}

#ville-select{
    width: 12em;
    height: 3em;
    border-radius:5px;
    padding-left: 1em;
    font-size: 1rem;
}

#titre-offre{
    color: white;
    margin-left: 8rem;
}
.offre{
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
    padding-left: 1em;
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.offre a{
    margin: 1rem;
    padding: 1rem;
    background-color: #17255A;
    color: white;
    height: 3rem;
    border-radius: 0.3rem;
}

.offre a:hover{
    background-color: #0959ee;
}

.pagination{
    margin:2rem;
}

.pagination a{
    margin-right: 0.5rem;
    padding: 1rem;
    background-color: #17255A;
    color: white;
    border-radius: 0.3rem;
}